.hero {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
    height: calc(100vh - 8rem);
    padding: 0;
    gap: 1rem;
}

@media (min-width: 768px) {
    .hero {
        grid-template-columns: 1fr auto;
        padding-inline: 4rem;
    }
}

.hero div {
    position: relative;
    height: 100%;
    display: grid;
    place-items: center;
}

.hero-img {
    width: min(100%, 1024px);
}

.hero hgroup {
    font-weight: 800 !important;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    color: var(--clr-primary-dark);
    padding: 1rem;
}

.hero-title {
    font-size: 3rem !important;
    line-height: 1;
    width: max-content;
    margin-inline: auto;
    background-color: transparent;
    z-index: 1;
}

.hero-title::after {
    z-index: 2;
}

@media (min-width: 768px) {
    .hero hgroup {
        text-align: start;
        padding: 2rem;
        justify-content: center;
        padding-inline-start: 4.5rem;
    }

    .hero-title {
        margin: 0;
        font-size: 4.5rem !important;
    }

}

.hero-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.hero span {
    font-size: 1.5rem;
    font-weight: 400;
}